<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  meta http-equiv="X-UA-Compatible" content="ie=edge"
  <title>Employee List</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>
  <div class="search">
    <form>
    <input type="search" placeholder="Поиск">
    </form>
  </div>
  <section>
    <div class="editor">
      <button mat-button>Добавить</button>
      <button mat-button>Редактировать</button>
      <button mat-button>Удалить</button>
    </div>
  </section>
  <div class="wrapper">
  </div>
  <table>
    <thead>
      <tr>
        <th>Превью</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
        <th>Возраст</th>
        <th>Должность</th>
        <th>Удаленная работа</th>
        <th>Адрес проживания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Photo</td>
        <td>Иван</td>
        <td>Иванов</td>
        <td>1.12.2000</td>
        <td>33</td>
        <td>техник</td>
        <td class="checkbox"><mat-checkbox ></mat-checkbox></td>
        <td>г.СПб Невский пр. 3/6 кв. 1</td>
      </tr>
      <tr>
        <td>Photo</td>
        <td>Петя</td>
        <td>Петров</td>
        <td>1.12.2000</td>
        <td>23</td>
        <td>программист</td>
        <td class="checkbox"><mat-checkbox  ></mat-checkbox></td>
        <td>г.Тюмень</td>
      </tr>
      <tr>
        <td>Photo</td>
        <td>Женя</td>
        <td>Безымянный</td>
        <td>1.12.2000</td>
        <td>34</td>
        <td>бухгалтер</td>
        <td class="checkbox"><mat-checkbox  ></mat-checkbox></td>
        <td>г.СПб ул. Гжатская 21/2 кв. 3</td>
      </tr>
    </tbody>
  </table>

</body>
</html>